body {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}
h1,
p,
h2,
ul {
  margin-top: 10px;
}
h1 {
  font-size: 35px;
}
p {
  line-height: 5px;
}
h2 {
  line-height: 30px;
}
ul {
  list-style: none;
  line-height: 35px;
  font-size: 15px;
}
input {
  line-height: 30px;
}
body:first-letter {
  text-transform: capitalize;
}
.container {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}
.active,
.inactive {
  cursor: default;
  color: black;
  text-decoration: none;
}
.degrees {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.forecast-day {
  font-size: 20px;
}
