body {
  padding: 20px 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}
.container {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}
h1,
p,
h2,
ul {
  margin-top: 10px;
}
h1 {
  font-size: 35px;
}
p {
  line-height: 5px;
}
h2 {
  line-height: 30px;
  text-transform: Capitalize;
}
ul {
  list-style: none;
  line-height: 35px;
  font-size: 15px;
}
input {
  line-height: 30px;
}
